<% if @resturants.any? %>
  <% @resturants.each do |resturant| %>
  <h2><%= link_to resturant.name, resturant_path(resturant) %></h2>
  <h3>Average rating: <%= star_rating(resturant.average_rating) %></h3>
  <%= image_tag resturant.image.url(:medium)%>
  <ul>
    <% resturant.reviews.each do |review| %>
    <li>
      <%= review.thoughts %>
      <%= link_to "Endorse Review", review_endorsements_path(review), class: 'endorsements-link' %>
      <span class="endorsements_count"> <%= review.endorsements.count %> </span> <%= 'endorsement'.pluralize(review.endorsements.count) %>
    </li>
    <% end %>
  </ul>

  <% if current_user && resturant.user_id == current_user.id %>
    <p><%= link_to "Edit #{resturant.name}", edit_resturant_path(resturant) %></p>
    <p><%= link_to "Delete #{resturant.name}", resturant_path(resturant), method: :delete %></p>
  <% end %>

  <% if current_user && !current_user.has_reviewed?(resturant) %>
    <p><%= link_to "Review #{resturant.name}", new_resturant_review_path(resturant) %></p>
  <% end %>

  <% end %>
<% else %>
  No resturants yet
<% end %>
