<% if @resturants.any? %>
  <% @resturants.each do |resturant| %>
  <h2><%= link_to resturant.name, resturant_path(resturant) %></h2>
  <h3>Average rating: <%= resturant.average_rating.to_i %></h3>
  <% resturant.reviews.each do |review| %>
  <%= review.thoughts %>
  <p><%= link_to "Endorse Review", new_review_endorsement_path(review) %></p>
  <p><%= pluralize review.endorsements.count, 'endorsement' %></p>
  <% end %>

  <% if current_user && resturant.user_id == current_user.id %>
    <p><%= link_to "Edit #{resturant.name}", edit_resturant_path(resturant) %></p>
    <p><%= link_to "Delete #{resturant.name}", resturant_path(resturant), method: :delete %></p>
  <% end %>

  <% if current_user && !current_user.has_reviewed?(resturant) %>
    <p><%= link_to "Review #{resturant.name}", new_resturant_review_path(resturant) %></p>
  <% end %>

  <% end %>
<% else %>
  No resturants yet
<% end %>
